# ignore
.git
.env
.env*
.cache
.bundle
.vscode
# private
# secret*yaml
# app*yaml
data/*
docs
nginx
docker-compose.yaml

# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md
!README*.md
README-secret.md

# ignore the private folder
private

